/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #f2f2f2;
}
#content {
  padding-top: 5px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #d9d9d9;
}

/*.container-footer {
  width: auto;
  max-width: 680px;
  text-align: center;
}
.container-footer .text-muted {
  margin: 5px 0;
}*/
.footer-text {
  font-size: x-small;
  margin: 7px 0;
  text-align: center;
}
.navbar {
  margin-bottom: 0px;
}
.form-icon {
  margin-bottom: 13px;
}
.input-group {
  margin-bottom: 5px;
}
.profile-image {
  height: 90px;
}
