{{define "content"}}
    <div class="row">
      <div class="panel panel-primary col-xs-12 col-md-4 col-md-offset-4">
        <div class="panel-body">
          <form action="/login" method="post">
            <div class="text-center text-primary form-icon">
              <i class="fa fa-user-circle fa-5x"></i>
            </div>
            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon" id="email"><i class="fa fa-envelope-o fa-fw"></i></span>
              <input class="form-control" type="text" placeholder="Email address" aria-describedby="email" name="Login">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="password"><i class="fa fa-key fa-fw"></i></span>
              <input class="form-control" type="password" placeholder="Password" aria-describedby="password" name="Password">
            </div>
            {{ .CsrfField }}
            <button type="submit" class="btn btn-primary btn-sm pull-right"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
            <div class="checkbox pull-left">
              <label>
                <input type="checkbox" name="Remember"> Remember me
              </label>
            </div>

          </form>
        </div>
      </div>
      <div class="col-xs-12 text-center">
        <a href="#">Forgot password</a>
      </div>
    </div>
{{end}}
