{{define "content"}}
    <div class="row">
      <div class="panel panel-primary col-xs-12 col-md-4 col-md-offset-4">
        <div class="panel-body">
          <form action="/account/edit" method="post" enctype="multipart/form-data">
            <div class="text-center text-primary form-icon">
              <img src="{{ .Data.User.GetAvatarURL }}" alt="Profile image" class="img-circle img-responsive center-block profile-image">
            </div>

            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon" id="first_name"><i class="fa fa-male fa-fw"></i></span>
              <input class="form-control" type="text" placeholder="First name" aria-describedby="first_name" value="{{ .Data.User.Profile.FirstName }}" name="FirstName">
            </div>

            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon" id="last_name"><i class="fa fa-male fa-fw"></i></span>
              <input class="form-control" type="text" placeholder="Lastname" aria-describedby="last_name" value="{{ .Data.User.Profile.LastName }}" name="LastName">
            </div>

            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon" id="username"><i class="fa fa-user-circle-o fa-fw"></i></span>
              <input class="form-control" type="text" placeholder="Username" aria-describedby="username" value="{{ .Data.User.Username }}"name="Username">
            </div>

            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon" id="email"><i class="fa fa-envelope-o fa-fw"></i></span>
              <input class="form-control" type="text" placeholder="Email address" aria-describedby="email" value="{{ .Data.User.Email }}"name="Email">
            </div>
            <div class="form-group">
              <label for="avatar_file">Profile image</label>
              <input type="file" id="avatar_file" name="AvatarFile">
            </div>
            {{ .CsrfField }}
            <button type="submit" class="btn btn-primary btn-sm pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Update</button>

          </form>
        </div>
      </div>
    </div>
    {{ end }}
